body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    min-height: 100vh;
    display:flex; 
    flex-direction:column;
}

nav {
    background-color: black;
    color: #c2dfe3;

    display: flex;  
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    height: 8vh;
}
.svgBars{
    cursor: pointer;
}
main{
    flex: 1;
    display: flex;
    height: 100%;
}

footer{
    background-color: black;
    min-width: 100%;
    height: 5vh;
}

.leftMenu {
    min-height: 100%;
    min-width: 200px;

    background-color: gray;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    color: white;

    display: flex;
    flex-direction: column;

    align-items: center;
}

h1{
    margin: 0;
}

a{
    text-decoration: none;
}
.leftMenuBox{
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    width: 100%;
}

.session {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    border-bottom: 2px solid lightgray;
}

.session h5{
    margin: 0px;

}

.session h4{
    cursor: pointer;
}

.leftMenu a {
    color: white;
    width: 100%;

    display: flex;
    align-items: center;
    
    
}

.leftMenu a:hover{
    background-color: #ffffff96;
    color: white;
}

nav a {
    color: yellow;
}

.logout{
    border-top: 2px solid lightgray;
}
.title{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
.auth-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.auth-container button{
    background-color: black; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 6px;
  }

  svg{
    width: 30px;
    height: 30px;
    margin: 14px;
  }

@media only screen and (max-width: 870px) {
    table td{
        font-size: 12px;
        padding: 0px;
    }
  }

@media only screen and (max-width: 705px) {
    main{
        display: flex;
        flex-direction: column;
    }
    .leftMenu{
        width: 100%;
        height: 100%;
        padding-bottom: 10px;
    }

    svg{
        width: 30px;
        height: 30px;
        margin: 10px;
    }
    .leftMenu h4{
        
        text-align: center;
    }

    .form{
        min-width: 100%;
    }
    textarea{
        width: calc(100vw - 50px);
    }
    table{
        font-size: 9px;
        border-top: 1px solid #ddd;
    }
    table td{
        font-size: 9px;
        padding: 2px;
    }
    .table_div{
        width: 100vw;
    }
    .auth-container{
        flex-direction: column;
        height: 100%;
    }
    .login-container{
        margin-top: 200px;
    }
    .register-container{
        margin-top: 200px;
    }
    .form{
        position: static;
        transform: none;
        margin-top: 50px;
    }
  }
  @media only screen and (max-width: 350px) {
    table{
        font-size: 7px;
        border-top: 1px solid #ddd;
    }
    table td{
        font-size: 7px;
        padding: 0px;
    }
    .table_div{
        width: 100vw;
    }
  }