.form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 200px);
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin-bottom: 25px;
}

